body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #a1a1e7, rgb(8, 8, 114));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* --- Styling the  Cards --- */
.robots-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  justify-content: center;
}

.robots-wrapper .card-item {
  text-align: center;
  background: linear-gradient(to right, rgb(0, 255, 242), rgb(11, 180, 172));
  margin: 4px;
  width: 220px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.card-item img {
  height: 150px;
  width: 150px;
  border: none;
}

.card-item:hover {
  transform: scale(1.03);
  cursor: pointer;
}
